<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
	    <li class="first"><%= link_to "Campeonatos", championships_path  %></li>
      <li><%= link_to @championship.name, @championship %></li>
      <li><%= link_to "Grupos", championship_groups_path %></li>
      <li><%= link_to @group.name, championship_group_path %></li>
      <li class="active"><%= link_to "#{t("web-app-theme.edit", :default => "Edit")}", "#" %></li>
    </ul>
  </div>          
  <div class="content">            
    <h2 class="title"></h2>
    <div class="inner">
      <% form_for @group, :url => championship_group_path(@championship, @group), :html => { :class => :form } do |f| -%>
        <%= render :partial => "form", :locals => {:f => f} %>
      <% end -%>
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>