<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
	    <li class="first"><%= link_to "Campeonatos", championships_path  %></li>
      <li><%= link_to @championship.name, @championship %></li>
      <li class="active"><%= link_to "Grupos", championship_groups_path %></li>
    </ul>
  </div>          
  <div class="content">          
    <h2 class="title"></h2>
    <div class="inner">
      <table class="table">
        <tr>             
				<th class="first">
					<%= t("activerecord.attributes.group.name", :default => t("activerecord.labels.name", :default => "Name")) %>
				</th>
				<th class="last">&nbsp;</th>
        </tr>
        <% @groups.each do |group| -%>
        <tr class="<%= cycle("odd", "even") %>">
										<td>
						<%= link_to group.name, [@championship, group] %>
					</td>
          <td class="last">
            <%= link_to "#{t("web-app-theme.show", :default => "Show")}", [@championship, group] %> |
            <%= link_to "#{t("web-app-theme.edit", :default => "Edit")}", edit_championship_group_path(@championship, group) %> |
            <%= link_to "#{t("web-app-theme.delete", :default => "Delete")}", [@championship, group], :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
          </td>
        </tr>          
        <% end -%>
      </table>
      <div class="actions-bar wat-cf">
        <div class="actions">
        </div>
        
      </div>
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>