<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
	    <li class="first"><%= link_to "Campeonatos", championships_path  %></li>
      <li><%= link_to @championship.name, @championship %></li>
      <li><%= link_to "Grupos", championship_groups_path %></li>
      <li class="active"><%= link_to @group.name, "#" %></li>
    </ul>
  </div>          
  <div class="content">
    <div class="inner">
      
        <p>
          <b><%= t("activerecord.attributes.group.name", :default => t("activerecord.labels.name", :default => "Name")) %>:</b>
          <%= @group.name %>
        </p>
      <div class="wat-cf">
        <%= link_to "#{image_tag("web-app-theme/application_edit.png", :alt => "#{t("web-app-theme.edit", :default=> "Edit")}")} #{t("web-app-theme.edit", :default=> "Edit")}", edit_championship_group_path(@championship, @group), :class => "button" %> 
        <%= link_to "#{image_tag("web-app-theme/cross.png", :alt => "#{t("web-app-theme.delete", :default=> "Delete")}")} #{t("web-app-theme.delete", :default => "Delete")}", [@championship, @group], :method => "delete", :class => "button", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
      </div> 
      <div class="clear"></div>
      <p />
			<hr>
			<h1>Times</h1>
			<div class="clear"></div>
			<p />
			<table class="table" id="groups_table">
				<th class="first">Time</th>
				<th class="last"></th>
				<% @group.equipes.sort.each do |equipe| %>
					<tr class='<%= cycle("odd", "even") %>'>
						<td><%= equipe.name %></td>
						<td class="last">
	            <%= link_to "Desassociar", championship_group_desassociate_equipes_path(@championship, @group, equipe), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
						</td>
					</tr>
				<% end %>
			</table>     
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>