<div class="block">
  <h3>Ações para o Eventos</h3>
  <ul class="navigation">
    <li><%= link_to "Voltar para o Campeonato", @championship %></li>
		<li><%= link_to "Voltar para o Grupo", [@championship, @group] %></li>
		<li><%= link_to "Voltar para a Rodada", [@championship, @group, @round] %></li>
		<li><%= link_to "Voltar para a Jogo", [@championship, @group, @round, @game] %></li>
		<li><%= link_to "Criar Evento", new_championship_group_round_game_event_path(@championship, @group, @round, @game) %></li>
  </ul>
</div>