<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
		<li class="first"><%= link_to "Jogos", championship_group_round_games_path %></li>
		<li><%= link_to "#{@game.home.name} X #{@game.visitant.name}", [@championship, @group, @round, @game] %></li>
    <li class="active"><%= link_to "Eventos", "#" %></li>
    </ul>
  </div>          
  <div class="content">          
    <h2 class="title"></h2>
    <div class="inner">
      <table class="table">
        <tr>             
          <th class="first">ID</th>
					<th>Equipe</th>
					<th>Ação</th>
					<th>Tipo</th>
					<th>Tempo</th>
          <th class="last">&nbsp;</th>
        </tr>
        <% @events.each do |event| -%>
        <tr class="<%= cycle("odd", "even") %>">
          <td>
            <%= event.id %>
          </td>
					<td>
						<%= link_to event.equipe.name, [@championship, @group, @round, @game, event] %>
					</td>
					<td>
            <%= event.name %>
          </td>
					<td>
            <%= event.kind %>
          </td>
					<td>
            <%= event.linetime %>
          </td>
          <td class="last">
            <%= link_to "#{t("web-app-theme.show", :default => "Show")}", [@championship, @group, @round, @game, event] %> |
            <%= link_to "#{t("web-app-theme.edit", :default => "Edit")}", edit_championship_group_round_game_event_path(@championship, @group, @round, @game, event) %> |
            <%= link_to "#{t("web-app-theme.delete", :default => "Delete")}", [@championship, @group, @round, @game, event], :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
          </td>
        </tr>          
        <% end -%>
      </table>
      <div class="actions-bar wat-cf">
        <div class="actions">
        </div>
        
      </div>
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>